// FRONT PAGE
.slideshow {
  margin-bottom: 10px;
  z-index: 0;
  .orbit-wrapper {
    .slider-nav span {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      /*@include opacity(0);
      @include transition-property(opacity);
      @include transition-duration(400ms);*/
    }
    &:hover {
      .slider-nav span {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        /*@include opacity(1);*/
      }
    }
    .timer {
      display: none;
    }
  }
}

.flourish {
  position: absolute;
  top: -143px;
  left: -136px;
  height: 666px;
  width: 378px;
  background: transparent url("../images/flourish.png") center top repeat-x;
}

.intro {

  position: relative;
  text-align: center;
  .intro_header {
    height: 268px;
    background: transparent url("../images/intro_header.png") 24px 48px no-repeat;
  }
  h2 {
    text-indent: -9000px;
  }
  h3 {
    text-indent: -9000px;
  }
  h4 {
    text-indent: -9000px;
  }
  p {
    font: 1em/1.6em "Droid Serif", serif;
    color: #918464;
    margin: 0 83px 0 42px;
    padding: 26px 0;
    a {
      color: $green;
      text-decoration: underline;
    }
  }
  #button-block {
    position: absolute;
    top: 0;
    right: 15px;
    text-decoration: none;
    color: #fff;
    padding: 10px 18px;
    z-index: 300;
  }
}



.speakers {
  margin-top: 50px;
  margin-bottom: 75px;
  text-align: center;
  img {
    margin-top: 50px;
    border-radius: 100px;
    behavior: url("#{$js_path}iePIE-1.0.0/PIE.htc");
    height: auto;
  }
  h4 {
    margin: 15px 0 0 0;
    font: normal 1em/1.6em "FuturaBold", serif;
    color: $bronze;
  }
  p {
    font: normal 0.9em/1.4em "Droid Serif", serif;
    color: #918464;
    a {
      color: #918464;
    }
  }
  li {
    padding: 0 25px;
  }
  a {
    color: #111;
  }
}

.section_header {
  height: 54px;
  background: transparent url("../images/bg_section_header.png") top center no-repeat;
  font: normal 2em "FuturaCondensed", serif;
  text-transform: uppercase;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
}

.sponsors {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  .section_header {
    margin-bottom: 50px;
  }
}
