// Large screens
@media only screen and (min-width: 1025px) {}

@media only screen and (max-width: 1024px) {
  footer {
    padding-bottom: 30px;
    div {
      ul, ul.secondary {
        margin-left: 100px;
      }
    }
  }
}

// Medium screens
@media only screen and (max-width: 1024px) and (min-width: 801px) {

.header {
  .top-bar-section {
    ul.right {
      padding-top: 50px;
    }
  }
}

  .flourish {
    display: none;
  }
}

@media only screen and (max-width: 800px) and (min-width: 641px) {
  .header {
    .top-bar-section {
      ul.right {
        padding-top: 50px;
        li {
          a {
            font-size: 1.30em;
          }
        }
      }
    }
  }

}

// Small screens
@media only screen and (max-width: 640px) {

  #title h1 {
    font: bold 30px/47px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.header {

  .top-bar-section{
    ul.right {
      li {
        ul.dropdown {
          left: 100%;
        }
      }
    }
  }

  .top-bar, .top-bar.expanded {
    background: #d5ab29;
    ul.title-area {
      font: normal 1em "FuturaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      text-transform: uppercase;      
    }
    .top-bar-section {
      ul.right {
        padding-top: 0;
        li {
          a {
            color: #fff;
            padding-left: 20px;
            font: normal 1em "FuturaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
          }
        }
      }
    }
  }

  .header {
    h1 {
      padding-top: 0;
      margin-top: 0;
      margin-left: 20px;
      margin-bottom: 40px;
    }
  }
  .intro {
    margin-top: 20px;
    h2 {
      font-size: 24px;
    }
    h3 {
      margin-top: -10px;
      font-size: 60px;
      line-height: 36px;
    }
    h4 {
      font-size: 24px;
    }
    p {
      color: #111;
      padding: 5px 20px;
      margin: 0;
    }
    .intro_header {
      height: auto;
      background: none;
      padding-right: 20px;
      padding-left: 20px;

      h2 {
        text-indent: 0;
        padding-top: 25px;
        font: bold 40px/47px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #d5ab29;
        height: auto;
      }
      h3 {
        text-indent: 0;
        font: bold 30px/37px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #918464;
        height: auto;
        padding-top: 5px;
        padding-bottom: 10px;
      }
      h4 {
        text-indent: 0;
        font: bold 24px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #111111;
        height: auto;
        padding-bottom: 15px;
      }
    }

  }
}
}

@media only screen and (max-width: 560px) {
  .flower {
    display: none !important;
  }
  .speakers li, .sponsors li {
    float: none;
    margin: 0 auto;
  }
}

// Landscape Orientation
@media screen and (orientation: landscape) {}

// Portrait Orientation
@media screen and (orientation: portrait) {}
