

body {
  background: $bg url("../images/bg_pattern.gif") center top repeat-x;
  &.logged-in {
    padding-top: 6px;
    background-position: center 30px;
  }
}

.header {
  position: relative;
  margin-top: 48px;
  margin-bottom: 22px;
  z-index: 100;
  h1 {
    a {
      margin-left: -9px;
      text-indent: -9000px;
    }
  }
  .title-area {
    h1 {
      a {
        text-indent: 0;
        color: #fff;
        font-weight: normal;
        padding-left: 30px;
      }
    }
  }
  h2 a {
    text-indent: -9000px;
    img {
      padding-top: 20px;
    }
  }
  .deadline {
    z-index: 200;
    position: absolute;
    top: 5px;
    right: 13px;

    padding: 6px 10px 6px 10px;
    background: #f1e49d;
    text-align: right;
    border-bottom: 1px solid #dccd75;
    p {
      text-transform: uppercase;
      margin: 0;
      font: bold 1em "FuturaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #22141e;
      a{
        color: #22141e;
      }
    }
    sup {
      font-size: .75em;
      text-transform: lowercase;
    }
    span {
      text-transform: none;
      display: block;
      font-weight: bold;
      font-size: .75em;
      font-style: normal;
      color: #766846;
      line-height: 15px;
    }
    .triangle {
      position: absolute;
      bottom: -25px;
      right: 0px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 15px 0px 10px 15px;
      border-color: #f1e49d transparent transparent transparent;
      /*border-color: $green transparent transparent transparent;*/
    }
  }
  .top-bar-section {
    ul.right {
      padding-top: 80px;
      text-transform: uppercase;
      h1 {
        a {
        text-indent: 0;
        }
      }
      li {
        a {
          padding: 0 20px 5px 0;
          font: normal 1.55em "FuturaCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: #000000;
          text-transform: uppercase;
          border-bottom: 3px solid #d5ab29;        
        }
        &:last-child a {
          padding-right: 0;
        }
        ul.dropdown {
          left: 0;
          right: auto;
          background: #d5ab29;;
          li {
            a {
              padding: 7px 15px;
              font: 14px "FuturaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
              color: white;
              border-bottom: 1px solid #f1e49d;
            }
          }
        }
      }
    }
  }
/*  ul {


    list-style: none;
    ul {
      display: none;
    }
    a {
      float: left;
      padding: 0 20px 5px 0;
      font: normal 1.55em "FuturaCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #000000;
      text-transform: uppercase;
      border-bottom: 3px solid #d5ab29;
      /*@include text-shadow(1px 1px 0px white);
    }
  }
  li {
    position: relative;
    float: left;
    &:last-child a {
      padding-right: 0;
      /*color: $green;
    }
    &:hover ul {

      top: 36px;
      left: -20px;
      display: block;
      width: 180px;
      background: #d5ab29;
      /*background: $green;
      li {
        float: none;
      }
      a {
        float: none;
        display: block;
        padding: 7px 15px;
        /*border-top: 1px solid lighten($green, 5%);
        border-bottom: 1px solid darken($green, 5%);
        border-bottom: 1px solid #f1e49d;
        font: 14px "FuturaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        /*@include text-shadow(1px 1px 0px darken($green, 5%));
        &:hover {
          /*background: darken($green, 3%);
        }
      }
    }
  } */
  // Mobile nav
  .show-for-small {
    margin-bottom: 10px;
    ul {
      margin: 0;
    }
    li {
      a {
        font-weigth: bold;
      }
      li a {
        font-weight: normal;
      }
    }
  }
}

// Content
#main {
  position: relative;
  padding: 0;
  margin: 0 auto;
  z-index: 0;
  .page_content {
    background:#fff;
    min-height: 400px;
    padding: 60px 0 0 ;
  }
  p {
    font-size: ms(1);
  }
  ul {
    list-style-position: inside;
  }
  ul.tabs {
    list-style-type: none;
    position: absolute;right: 26px;top: 10px;
    a {
      @extend .label;
      @extend .round;
      padding: 5px 10px;
      z-index: 100;
      font-size: 18px;
    }
  li {display: inline-block; font-size: 18px;}
  }
}

#title {
    position: relative;
  h1 {
    margin: 0 15px;
    font: normal 3.06em/1em "FuturaCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 24px 58px 21px;
    background: #f1e49d;
    border-bottom: 3px solid #d5ab29;
    /*color: $green;*/
  }
  .page_header_flourish {
    position: absolute;
    bottom: -88px;
    left: -87px;
    z-index: 100;
    width: 224px;
    height: 190px;
    background: transparent url("../images/page_header_flourish.png") top left no-repeat;
  }
}

#content {
  h2.starter {
    font: normal 2.9em/1.8em "FuturaCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;    
    margin-left: 35px;
    padding-bottom: 10px;
    margin-top: 30px;
  }
  h3.starter {
    font: normal 1.6em/1em "FuturaCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;    
    margin-left: 35px;
    padding-bottom: 0px;
    margin-top: 30px;
  }
  p {
    /*color: $bronze;*/
      font: normal 1em/1.7em "Droid Serif", serif;
      margin-left: 35px;
      color: #766845;
      &:first-child {
        margin-top: 40px;
      }
  }
  li {
    font-size: ms(1);
    /*color: $bronze;*/
  }
  a {
    /*color: $green;*/
    text-decoration: underline;
    &:hover {
      /*color: darken($green, 10%);*/
    }
  }
  .messages {
    @extend .alert-box;
    font-size: ms(0);
    &.error {
      @extend .alert;
    }
    a {
      color: white;
    }
    ul {
      margin-bottom: 0;
      padding: 5px;
    }
    li {
      font-size: ms(0);
      font-weight: normal;
      color: white;
    }
  }

  .vendor-list {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 30px;
    li {
      padding: 13px 0;
        border-bottom: 1px solid #ebc553;
        font-size: 17px;
    }
  }

  .previous-conferences.small-block-grid-3 {
    margin-left: 40px;
    margin-top: 15px;
  }

#webform-component-agreement-of-terms {
  /*display: none;*/
}

  .previous-conferences {
    li {
      color: #766846;
      font: 1em;
      line-height: 24px;
      font: 13px "FuturaBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      a {

        padding: 5px 0;
        display: block;
        text-decoration: none;
        font: normal 14px "Droid Serif", serif;
        line-height: 19px;
      }
    }
  }

  .breakout-sessions {
    margin-top: 36px;
  }

  .breakout-sessions,
  .node-speakers {
    margin-bottom: 30px;
    .large-3,
    .large-4 {
      text-align: right;
      position: relative;
      z-index: 0;
      padding: 0 20px 0 46px;
      img {
        border-radius: 100px;
        behavior: url("#{$js_path}iePIE-1.0.0/PIE.htc");
      }
      h4 {
      font: normal 1em/1.5em "FuturaBold";
      margin-right: 12px;
      margin-top: 18px;
      margin-bottom: 0;
        a{
          color: #111111;
          text-decoration: none;
        }
      }
      h5 {
        font: normal .85em/1.5em "Droid Serif", serif; 
        margin-right: 12px;
        a {
        color: #766845;
        text-decoration: none;
        }      
      }
    }
    h3 {
      margin-top: 21px;
      margin-bottom: 20px;
      font: normal 1.4em/1.5em "FuturaMedium";
      a {
        color: #111111;
        text-decoration: none;
      }
    }
    h4.hfour {
        font: normal 1em/1.5em "FuturaBold";
        border-left: 1px solid #d5ab29;
        color: #766845;
        padding-left: 23px;
        margin: 0;
        padding-bottom: 12px;   
        a {
          color: #111;
          text-decoration: none;
        }   
    }
    h5.hfive {
        font: normal 1em/1.5em "Droid Serif", serif;
        border-left: 1px solid #d5ab29;
        color: #766845;
        padding-left: 23px;
        margin: 0;
        padding-bottom: 12px;      
    }
    .large-8 {

      p {
        font: normal 1em/1.5em "Droid Serif", serif;
        border-left: 1px solid #d5ab29;
        color: #766845;
        padding-left: 23px;
        margin: 0;
        padding-bottom: 12px;
      }
      p.smaller {
        font-size: .9em
      }
    }
  }

  #content ul {
    list-style-type: none;
    list-style: none;
  }

  .view-id-speakers .view-content .row,
  .one-speaker {
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 45px;
    border-bottom: 1px solid #d5ab29;
    margin-bottom: 45px;
    &:last-child {
      border: 0;
    }
    .large-3 {
      position: relative;
      z-index: 0;
      img {
        border-radius: 100px;
        behavior: url("#{$js_path}iePIE-1.0.0/PIE.htc"); 
      }
    }
    h4 {
      margin-top: 0;
      color: #766845;
      font: normal 1.5em/1.5em "FuturaBold";
      a {
        /*color: $brass;*/
        text-decoration: none;
        color: #766845;
      }
    }
    h3 {
        font: normal 18px/22px "FuturaMedium";
        color: #111111;
    }
    h5 {
        font: normal 15px/19px "FuturaMedium";
        color: #766845;
    }
    h6 {
        font: bold 15px/19px "Droid Serif", serif;
        color: #111111;
        margin: 30px 0 0;
        padding: 12px 0 12px 15px;
        border-left: 1px solid #d5ab29;
        background: #f0eeee;
    }
    .read_more {
      display: block;
      margin-top: -10px;
      font: normal 16px/24px "Droid Serif", serif;
              color: #766845;
    }
    p {
      font: normal 16px/24px "Droid Serif", serif;
              color: #766845;
              margin-left: 0;
    }
    p.bio {
      margin: 0;
      padding: 30px 0 0 0;
    }
  }

p.quote {
  margin: 0 0 0 20px;
  padding-top: px;
  margin-top: 20px;
  padding-left: 30px;
  color: #111111;
  font-size: 17px;

}
p.quoter {
  margin: 0 0 0 20px;
  padding: 0 0 20px 45px;
  border-bottom: 1px solid #eeeeee;
}

#content .agenda-item .large-8 p:first-child {
    font: bold 16px/25px "Droid Serif", serif; 
   color: #111111;
}


  .agenda-item {
    margin-bottom: 0px;
    padding-bottom: 15px;
    margin-left: 12px;
    font: normal .85em/1.5em "Droid Serif", serif; 
    margin-right: 0px;
    color: #766845;
    border-bottom: 1px solid #d5ab29;
    /*border-bottom: 1px solid lighten($brass, 25%);*/
    &:last-child {
      border: 0;
    }
    &:first-child {
      margin-top: 10px;
    }
    .large-4 {
      p {
        padding-top: 1px;
        font: normal 16px/37px "FuturaBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: right;
        color: #766845;
      }
      padding-right: 0;
      margin-right: 0;
    }
    .large-8 {
      padding-left: 0;
      margin-left: 0;
      padding-top: 7px;
      p {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        &:first-child {
          font: bold 16px/25px "Droid Serif", serif; 
          color: #111111;
          }
        a {
          font-size: 14px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          }
        }
      ul {
        padding-left: 27px;
      }
    } 
  }
  .button {
    color: white !important;
    text-decoration: none;
  }
  .webform-client-form {
    label {
      font-weight: bold;
      &.option {
        font-weight: normal;
      }
    }
  }
}

// .node-type-gallery
//   .field-item
//     :width 200px
//     :height 200px
//     :float left

.field-items {
  margin-left: 30px;
  margin-top: 30px;
}

.node-gallery {
  .submitted {
    display: none;
  }
}

.clear {
  clear: both;
  height: 80px;
}

  #side-button-block a {
    padding: 1px !important;
    margin-right: 8px;
  }

#sidebar {
  float: right;
  table.draggable {
    width: 95%;
    th {
      display: none;
    }
  }

  .tabledrag-changed-warning {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 8px;
    color: #666666;
    font: normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  margin-top: 15px;
  .block {
    margin-bottom: 40px;
    margin-left: 36px;
    margin-right: -15px;
  }
  .block h4 {
    margin-top: 0;
    font: normal 1.375em/1em "FuturaCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 11px 20px 11px;
    margin: 0;
    color: #ffffff;
    text-shadow: 0 1px 1px #90731c;
    text-transform: uppercase;
    background: #d5ab29 url("../images/bg_sidebar_header.png") bottom right no-repeat;
    border-bottom: 2px solid #776946;
  }
  .block-views{
    h4 {
    background: none;
    font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    color: #111111;
    border: 0;
    padding: 0 0 8px 0;
    text-transform: none;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
  p.descr {
    background: #f1e49d;
    padding: 9px 18px;
    color: #111111;
    font: normal .9em/1.3em "FuturaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  #block-block-2 {
    margin-bottom: 40px;
    background: #f0eeee;
    font: normal .9em/1.3em "FuturaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    .content {
      padding: 9px 18px 8px;
      ul {
        border-left: 1px solid #d5ab29;
        list-style-type: none;
        margin-left: 0;
        margin-top: 7px;
        padding-left: 13px;
      }
      a {
        text-decoration: underline;
      }
    }
  }

  #block-block-3,
  #block-block-4 {
    margin-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
  }



  .orbit-wrapper {
    .slider-nav span {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      /*@include opacity(0);
      @include transition-property(opacity);
      @include transition-duration(400ms);*/
    }
    .orbit-timer {
      display: none !important;
      span {
        display: none;
      }
    }
    .orbit-paused {
      span {
        display: none;
      }
      display: none !important;
    }
  }
}



.flourish_footer {
  position: absolute;
  width: 434px;
  height: 316px;
  top: -110px;
  right: -20px;
  background: transparent url("../images/bg_footer_flourish.png") top left repeat-x;
}

.footing {
  position: relative;
}

footer {
  position: relative;
  background: transparent url("../images/bg_footer.gif") top left repeat-x;
  padding-top: 50px;
  margin-top: 120px;
  padding-bottom: 120px;
  ul {
    list-style: none;
    padding: 0 0 0;
    margin: 0;
    font: normal .85em/1.6em "Helvetica Neue", Helvetica, Arial, "FuturaMedium", sans-serif;

    a {
      color: #777777;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .primary {
    a {
      font-weight: bold;
      color: #766846;
    }
    li:last-child a {
      /*color: $green;*/
    }
  }
  .secondary {
    margin-left: 50px;
    li:first-child a {
      font-weight: bold;
      color: #766846;
    }
  }
  .tertiary {
    li:first-child a {
      font-weight: bold;
      color: #766846;
    }
  } 
  .logo {
    text-align: right;
      color: #766846;
  }
}

#fcoe-banner {
  position: relative;
  height: 58px;
  margin-left: -122px;
  margin-bottom: -18px;
  background: transparent url("../images/banner_bg.png") center top repeat-x;
  h6 {
    margin: 0 0 20px -40px;
    font-size: ms(0);
    font: normal .9em "Droid Serif", serif;
    line-height: 40px;
    color: white;
    span {
      margin-left: 10px;
    }
  }
  .fcoe-logo {
    width: 70px;
    height: 58px;
    margin: 0 auto;
    background: transparent url("../images/banner_fcoe_logo.png") center center no-repeat;
    a {
      display: block;
      width: 70px;
      height: 58px;
    }
  }
}

#myModal {

  #scrolldiv {
    background: #eeeeee;
    height:400px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    overflow:scroll;
    overflow-x: hidden;
    padding: 20px 50px 20px 25px;
    border: 1px solid #ccc;
    p {
      font-size: 14px;
    }
    h4 {
      font-size: 16px;
      font-weight: bold;
    }
  }
  h3 {
      font-size: 18px;
      font-weight: bold;
  }
  .reveal-modal-bg {
    background: #ccc;
  }
  div.apy_entry_agree {
    padding: 0;
  }
  .close-reveal-modal,
  .no-close {
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    padding: 9px 0px;
    display: none;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    margin: 15px 0 0 0;
    height: auto;
    background: #d5ab29;

  }
  .no-close {
    color: #666;
    background: #eee;
    display: block;
    margin-top: -16px;
  }
}

#node-15 {
    a {
      background: #d5ab29;
      padding: 15px;
      border-radius: 6px;
      margin: 0;display: block;
      float: left;
      margin-right: 19px;
    }
    h5 {
      margin-left: 37px;
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

#webform-client-form-15 {
  padding: 20px 0 0 30px;
  clear: both;
  .form-submit{
    padding: 15px 30px;
  }
  .form-submit:disabled {
      background: #ccc;
      color: #444;    
  }
  fieldset {
    clear: both;
    padding: 6px 24px;
    margin-top: 20px;
    a {
      float: none;
    }
    .webform-component-textarea {
      label {
        padding-bottom: 18px;
        font-weight: bold;
      }
      textarea {
        height: 100px;
      }
    }
    label.option {
      float: left;
      line-height: 14px;
      margin-left: 10px;
      margin-top: 20px;
      margin-bottom: 25px;

    }
    input {
      display: block;
      margin-top: 20px;
      float: left;
    }

    #webform-component-nomination--agreement-of-terms--i-have-read-and-accept-the-terms {
      label {display: block;font-size: 16px;}    
    }
  }

  
  #webform-component-nomination--agreement-of-terms--guidelines {
    padding-top: 0px;
  }

  #webform-component-nomination--agreement-of-terms--agree-to-the-terms {
    margin-top: 0 !important;
    p {
      margin: 6px 0 0 0;
      font: "Hevetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}

#user-login {
  margin-left: 50px;
  margin-right: 100px;
}


  #content #webform-client-form-16 p {margin-left: 0;margin-top: 21px;}
  #webform-client-form-16 {margin-left: 30px;}
  #webform-client-form-16 .form-type-radio {margin-left: 20px;line-height: 20px;}
  #webform-client-form-16 .form-type-radio label {line-height: 15px;}
  #webform-client-form-16 .form-type-radio input {line-height: 15px;margin-bottom: 0;}


  .content #node-87 ol {
font: normal 1em/1.7em "Droid Serif", serif;
color: #766845;
margin-left: 30px; 
padding-left: 30px;
}


